

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%= pageTitle %></title>
    <nav id="navigationBar">
        <ul>
            <li>
                <a href="/" class="link">Game</a>
            </li>
            <li>
                <a href="/profile" class="link">Profile</a>
            </li>
            <li>
                <a href="/my-game-list" class="link">My Game List</a>
            </li>
        </ul>
    </nav>
</head>